.third1{
    
    height: 100%;
    /* width: 100%; */
    background-color:#0E161F ;
    display: flex;
}

/* left content --------------------------- */
.left{
    height: auto;
    width: 50vw;
    /* background-color: #0E161F; */
    display: flex;
    flex-direction: column;
    
}
.left .main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   position: relative;
/* top: 10vh; */
}

.left .content{
   
    height: 100vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.left .content h1{
    font-size:13vh;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Rubik Doodle Shadow;
}
.left .content p{
    color: white;
    margin-left: 5vw;
}

.left .content .left-images{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    
}
.left .content .left-images img{
    height: 5vh;
    margin-right: 1vw;
   
}
.left .content .button-container{
    display: flex;
    
}

h4{
    color: white;
    background-color: #141d29;
    height: 5vh;
    width: 3vw;
    text-align: center;
    border-radius: 10px;
}
.button {
    font-family: Source Code Pro;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 2vw;
  }
  
  .button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  



.right{
    height: 100vh;
    width: 50vw;
      background-color: #0E161F;
    
}

.right .main-container1{

    height: 100vh;
    width: 100%;
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: center;
    top: 0;

}

.right .main-container1 .container2 {
    height: 100%;
    width: 100%;
    position: relative;

    
}

.right .main-container1 .video-container{
    height: 60vh;
    width: 48vw;
    position: absolute;
    cursor: pointer;
    top: 20vh;
    overflow: hidden;
   
}

.right .main-container1 .video-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}

.Mobile{
   display: none;
    
}
@media only screen and (max-width: 700px){
    .third1{
        display: none;
        
    }
    
    .Mobile{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
        

        /* height: 100vh;
        width: 100vw; */
        background-color: #0E161F;

    }

    .mobile-container{
        background-color: #ffffff0f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        height: 70vh;
        width: 85vw;
        border: 1px solid slategray;
        border-radius: 12px;
        margin: 2vh 0;
    }

    .mobile-container>.mobile-video{
        /* position: absolute;
        top: 2vh; */
        margin: 0vh 0;
        height: 20vh;
        width: 70vw;
    }

    .mobile-container>.mobile-video>img{
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    .mobile-text{
        position: relative;
        top: -2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }

    .mobile-text>.mobile-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-text>.mobile-heading>h1{
       
        font-family:Rubik Doodle Shadow ;
        font-size: 5vh;
    }

    .mobile-text>.mobile-desc>p{
        font-family:Source Code Pro ;
        font-size: 1.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4vh;
    }

    .mobile-text>.mobile-skills{
        position: relative;
        height: 15vh;
        top: 2vh;
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
        align-items: center;
    }
    .mobile-text>.mobile-skills>.mobile-img>img{
        position: relative;
        margin: 1vh 0;
        /* left: 1vh; */
        top: 0.3vh;
        height: 3.5vh;
        
    }

   


    .mobile-text>.mobile-skills>.mobile-button>a>.button2{
        position: relative;
        left: -1.5vh;
    font-family: Source Code Pro;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 2vw;
    }
}