.footer{

  background:rgb(0, 0, 0);
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:rgb(255, 255, 255);
  font-size:0.8em;
  /* display: flex; */
  }
  .footer .row1{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:rgb(255, 255, 255);
  font-size:0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .footer .row a{
    font-family: Source Code Pro;
    font-weight: 700;
    font-size: 1.5vw;
  text-decoration:none;
  color:slategray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#2e2e2e;
  scale: 1.09;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row1 a{
   
   font-size: 5vh;
   color: slategray;
    margin-right: 2vw;

  transition:0.5s;
  }
  .footer .row1 a:hover{
    color: #fff;
    scale: 1.08;
  }

  .footer .row2 {
   color:rgb(71, 82, 93);
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row ul li a{
  color: slategray;
  font-size: 2vh;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  /* .footer .row1{
    display: flex;
    gap: 2vw;
  } */

  .footer .row1 a{
   
    margin: 0 3vw;
    font-size: 3vh;
    color: slategray;
     margin-right: 2vw;
   
   }
   .footer .row2 {
    text-align: center;
    color:rgb(71, 82, 93);
    font-size: 1.5vh;
   }
  }